<mat-form-field [appearance]="appearance" fxFlex>
    <mat-label>{{label}}</mat-label>
    <input matInput [placeholder]="placeholder" [readonly]="disabled" aria-label="AutoComplete" [matAutocomplete]="auto"
        [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="setValue($event)"
        [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            <span>{{option[displayKey]}}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-hint>{{hint}}</mat-hint>
</mat-form-field>