<form [formGroup]="form" fxLayout="column">
    <div fxLayout="row wrap">
        <div *ngFor="let question of questions" fxFlex="100" [fxFlex.gt-sm]="question.flex">
            <ngx-mat-dynamic-form-question *ngIf="question.show" [question]="question" [form]="form">
            </ngx-mat-dynamic-form-question>
        </div>
        <ng-content></ng-content>
    </div>
</form>