<div [formGroup]="form" fxFlex style="margin: 5px;" fxLayout="row" fxLayoutAlign="center center">

    <ng-container [ngSwitch]="question.controlType">

        <span *ngSwitchCase="'spacer'" fxFlex></span>

        <mat-form-field [appearance]="question.appearance" *ngSwitchCase="'textbox'" fxFlex>
            <mat-label>{{question.label}}</mat-label>
            <span *ngIf="question.prefix" matPrefix>{{question.prefix}}&nbsp;</span>
            <mat-icon *ngIf="question.prefixIcon" matPrefix>{{question.prefixIcon}}</mat-icon>
            <input matInput [placeholder]="question.placeholder" [formControlName]="question.key" [id]="question.key"
                [type]="question.type">
            <mat-hint *ngIf="question.hint">{{question.hint}}</mat-hint>
            <mat-icon *ngIf="question.suffixIcon" matSuffix>{{question.suffixIcon}}</mat-icon>
            <span *ngIf="question.suffix" matSuffix>&nbsp;{{question.suffix}}</span>
            <mat-error>
                <ngx-mat-print-input-error [control]="form.controls[question.key]"> </ngx-mat-print-input-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="question.appearance" *ngSwitchCase="'dropdown'" fxFlex>
            <mat-label>{{question.label}}</mat-label>
            <mat-select [formControlName]="question.key">
                <ng-container *ngIf="question.options$">
                    <mat-option *ngIf="question.defaultValue">None</mat-option>
                    <mat-option *ngFor="let opt of question.options$ | async" [value]="opt[question.selection.key]">
                        {{opt[question.selection.value]}}
                    </mat-option>
                </ng-container>
                <ng-container *ngIf="question.options">
                    <mat-option *ngFor="let opt of question.options" [value]="opt[question.selection.key]">
                        {{opt[question.selection.value]}}
                    </mat-option>
                </ng-container>
            </mat-select>
            <mat-hint *ngIf="question.hint">{{question.hint}}</mat-hint>
            <mat-error>
                <ngx-mat-print-input-error [control]="form.controls[question.key]"> </ngx-mat-print-input-error>
            </mat-error>
        </mat-form-field>

        <div *ngSwitchCase="'chipSelector'" fxFlex>
            <ngx-mat-chip-selector [options]="question.options$ | async" [defaultOptions]="question.value"
                [defaultOptionsKey]="question.selection.key" [placeholder]="question.placeholder"
                [disabled]="question.disabled" [label]="question.label" [displayKey]="question.selection.value"
                [filterKey]="question.selection.value" [appearance]="question.appearance" [hint]="question.hint"
                [validators]="question.validators" (output)="setMutlipleValues($event)" fxFlex>
            </ngx-mat-chip-selector>
        </div>

        <div *ngSwitchCase="'autoComplete'" fxFlex>
            <ngx-mat-auto-complete [options]="question.options$ | async" [defaultOption]="question.value"
                [defaultOptionKey]="question.selection.key" [placeholder]="question.placeholder"
                [disabled]="question.disabled" [label]="question.label" [displayKey]="question.selection.value"
                [filterKey]="question.selection.value" [appearance]="question.appearance" [hint]="question.hint"
                [validators]="question.validators" (output)="setSingleValue($event)" fxFlex>
            </ngx-mat-auto-complete>
        </div>

        <div *ngSwitchCase="'date-time'" fxLayout="row wrap" fxFlex>
            <mat-form-field fxFlex.gt-xs fxFlex [appearance]="question.appearance">
                <mat-label>{{question.label}}</mat-label>
                <input matInput [min]="question.minDate" [max]="question.maxDate" [matDatepicker]="picker1"
                    (dateChange)="dateTimeChange($event)" [placeholder]="question.placeholder"
                    [formControl]="question.dateControl" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 [disabled]="question.disabled"></mat-datepicker>
                <mat-error>
                    <ngx-mat-print-input-error [control]="form.controls[question.key]"> </ngx-mat-print-input-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-xs="20" fxFlex [appearance]="question.appearance" style="margin-left: 5px;">
                <mat-label>Hour</mat-label>
                <input type="number" matInput [formControl]="question.hourControl" placeholder="Hour">
            </mat-form-field>
            <mat-form-field fxFlex.gt-xs="20" fxFlex [appearance]="question.appearance" style="margin-left: 5px;">
                <mat-label>Minute</mat-label>
                <input type="number" matInput [formControl]="question.minuteControl" placeholder="Minute">
            </mat-form-field>
        </div>

        <div *ngSwitchCase="'date'" fxLayout="row wrap" fxFlex>
            <mat-form-field fxFlex.gt-xs fxFlex [appearance]="question.appearance">
                <mat-label>{{question.label}}</mat-label>
                <input matInput [min]="question.minDate" [max]="question.maxDate" [matDatepicker]="picker1"
                    (dateChange)="dateChange($event)" [placeholder]="question.placeholder"
                    [formControl]="question.dateControl" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 [disabled]="question.disabled"></mat-datepicker>
                <mat-error>
                    <ngx-mat-print-input-error [control]="form.controls[question.key]"> </ngx-mat-print-input-error>
                </mat-error>
            </mat-form-field>
        </div>

    </ng-container>
    <div *ngIf="loading" style="margin-left: 5px;">
        <mat-spinner style="zoom:0.24"></mat-spinner>
    </div>
</div>