<mat-form-field [appearance]="appearance" fxFlex>
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #chipList [formControl]="formControl">
        <mat-chip *ngFor="let obj of selectedObjects" [selectable]="selectable" [removable]="!disabled"
            (removed)="remove(obj)">
            {{obj[displayKey]}}
            <mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
        </mat-chip>
        <input [placeholder]="placeholder" [disabled]="disabled" #formInput [matAutocomplete]="auto" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-error>
        <ngx-mat-print-input-error [control]="formControl"> </ngx-mat-print-input-error>
    </mat-error>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selected($event)">
        <mat-option *ngFor="let obj of filteredObjects | async" [value]="obj">
            {{obj[displayKey]}}
        </mat-option>
    </mat-autocomplete>
    <mat-hint>{{hint}} </mat-hint>
</mat-form-field>